.para-one, .para-two {
    text-align: center;
    /* border-radius: 20%; */
    padding: 2rem 0rem;
    margin-left: 0px;
    overflow:auto;
    display:block;
}


@media screen and (max-width: 586px) {
    .para-one, .para-two, img {
      flex-direction: column;
      text-align: center;
    }
    ul {
      justify-content: center;
    }
  }