h3, h5, p{
    display: flex;
    margin-right: 0em;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../assets/images/topbottom.jpg');
    background-position: top;
    background-size: cover;
}

