header {
    background-image: url('../assets/images/topbottom.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vh;
}
.header h1 {
    margin: 0;
}